.franchise-btn {
    background-color: transparent;
    padding: 12px 16px;
}
.order-btn {
    padding: 12px 16px;
    border: 0px;
}
.nav-item {
    font-size: 1.5rem;
}
.navbar {
    margin: 10px 80px;
}