/* background colors started*/

:root {
    --black:#000000;
    --white:#ffffff;
    --green:#00a659;
    --gray:#757575;
    --red:#f02520;
}
.bg-black {
    background-color: var(--black);
}
.bg-white {
    background-color: var(--white);
}
.bg-green {
    background-color: var(--green);
}
.bg-gray {
    background-color: var(--gray);
}
.bg-red {
    background-color: var(--red);
}

/* background color ended */


/* text colors started */

.text-black {
    color: var(--black);
}
.text-white {
    color: var(--white);
}
.text-green {
    color: var(--green);
}
.text-gray {
    color: var(--gray);
}
.text-red {
    color: var(--red);
}

/* text color ended */

.d-flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-arround {
    justify-content: space-around;
}
.justify-start {
    justify-content: start;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: end;
}
.flex-wrap {
    flex-wrap: wrap;
}

.text-style-0 {
    text-decoration: none;
}

.gap-10 {
    gap: 10px
}
.gap-15 {
    gap: 15px
}
.gap-20 {
    gap: 20px
}
.gap-25 {
    gap: 25px
}
.gap-30 {
    gap: 30px
}
.gap-50 {
    gap: 50px;
}

.item-center {
    align-items: center;
}

.border {
    border: 1px solid var(--white);
}
.rounded {
    border-radius: 30px;
    cursor: pointer;
}

.paddingtop-15 {
    padding-top: 15px;
}

.padd-left {
    padding-right: 100px;
}
.text-center {
    text-align: center;
}
.no-style {
    text-decoration: none;
}
.mt-80 {
    margin-top: 80px;
}
.mt-0 {
    margin-top: 0px;
}
.text-start {
    text-align: start;
}
.font-2 {
    font-size: 2rem;
}
.align-center {
    align-items: center;
}
.font-3 {
    font-size: 3rem;
}